:root {
  --primary-color: #27539b;
  --primary-hover-color: #0b1e47;
  --primary-text-color: white;

  --header-text-color: #1e242e;
  
  
  --body-color: #536486;
  --body-light-color: #e0ecf7;
  --body-light-border-color: #e5e7eb;
  --text-color: #2c313c;


  --gradient-start: #27539b;
  --gradient-end: #27539b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* color options: https://tailwindcss.com/docs/customizing-colors */

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r from-gradientStart to-gradientEnd;
  }

  .card {
    @apply bg-bodyLight border border-bodyLightBorder rounded-lg p-8 flex-1 text-center shadow-sm md:h-80;
    @apply text-bodyText;
  }

  .featureHero {
    @apply bg-white;
    @apply rounded-lg shadow-lg p-8 w-full max-w-5xl;
    @apply bg-gradient;
  }

  .pricingHeader {
    @apply text-2xl font-bold text-center mb-8 text-headerTextColor;
  }

  .cardContainer {
    @apply flex flex-col md:flex-row justify-between space-y-6 md:space-y-0 md:space-x-6;
  }

  .bg-primary-hover {
    @apply bg-primaryHover;
  }

  .border-light {
    @apply border-bodyLightBorder;
  }

  .btn {
    @apply bg-primary text-primaryTextColor px-6 py-3 rounded;
  }

  .btn:hover {
    @apply bg-primary-hover;
  }
}
