:root {
  --primary-color: #3b82f6;
  --primary-hover-color: #2563eb;
  --primary-text-color: white;

  --body-color: #6b7280;
  --body-light-color: #f9fafb;
  --body-light-border-color: #e5e7eb;
  --body-text-color: #111827;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-picker: #000;
} */

/* color options: https://tailwindcss.com/docs/customizing-colors */

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r from-primary to-purple-500;
  }

  .card {
    @apply bg-bodyLight border border-bodyLightBorder rounded-lg p-8 flex-1 text-center shadow-sm md:h-80;
  }

  .featureHero {
    @apply bg-white;
    @apply rounded-lg shadow-lg p-8 w-full max-w-5xl;
  }

  .pricingHeader {
    @apply text-2xl font-bold text-center mb-8 text-bodyText;
  }

  .cardContainer {
    @apply flex flex-col md:flex-row justify-between space-y-6 md:space-y-0 md:space-x-6;
  }

  .bg-primary-hover {
    @apply bg-primaryHover;
  }

  .border-light {
    @apply border-bodyLightBorder;
  }

  .btn {
    @apply bg-primary text-primaryTextColor px-6 py-3 rounded;
  }

  .btn:hover {
    @apply bg-primary-hover;
  }
}
